*{
    margin: 0px;
    padding: 0px;
}



/* banner work */
.banner-text{
    width: 500px;
}

.banner-img{
    width: 635px;

}

.banner-container{


    padding: 30px 30px 0px 30px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E554731A;

}

.title{
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 700;
}

.description{
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn{
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}


/* -----------------------main section start------------------------ */

/* common styles */

.section-title{
    margin-top: 178px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.section-description{
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Featured Flowers styles */

.featured-image{
    margin-top: 48px;
    /* padding: 60px 60px 0px 60px;  */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 124px;
    /* width: 314px; */
    /* height: 471px;  */
    /* flex-shrink: 0; */

}

.image-1{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.image-2{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.image-3{
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.image-title{
    display: flex;
    margin-top: 32px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    gap: 381px;
    justify-content: center;

}


.second-featured{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;
    /* flex-shrink: 0; */
}

.second-featured-icon{
    /* margin-top: 2027px; */
    display: flex;
    margin-top: 214px;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
}

.second-featured-text{
    display: flex;
    margin-top: 24px;
    /* padding: 30px; */
    color: rgba(39, 39, 39, 0.80);
    /* text-align: center; */
    justify-content: space-around;
    /* align-items: center; */
    font-family: Lato;
    font-size: 24px;
    /* font-weight: 600; */
    /* line-height: 35px; */
    /* gap: 200px; */
}


/* third-featured */

.third-featured{
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}




.third-title{
    margin-top: 32px;
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}


.third-description{
    margin-top: 32px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.third-btn{
    margin-top: 32px;
    margin-left: 208px;
    text-align: center;
    padding: 20px 43px;
    align-items:center;
    /* gap: 10px; */
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

.third-featured-image{
    gap: 1175px 100px 429px 100px;
    width: 318px;
    height: 420px;
    /* flex-shrink: 0; */
}


/* fourth-featured */

.fourth-featured-image{
    display: flex;
    padding: 48px 240px;
    justify-content: space-around;
    margin-top: 48px;
    /* gap: 240px 24px 24px 24px 240px; */
}