*{
    margin: 0px;
    padding: 0px;
}



/* banner work */
.banner-text{
    width: 500px;
}

.banner-img{
    width: 635px;

}

.banner-container{


    padding: 30px 30px 0px 30px; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #E554731A;

}

.title{
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-weight: 700;
}

.description{
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn{
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
}


/* -----------------------main section start------------------------ */

/* common styles */

.section-title{
    margin-top: 178px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.section-description{
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Featured Flowers styles */

.featured-image{

    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 124px;


}




.image-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.image-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.image-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.image-title{
    display: flex;
    margin-top: 32px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    text-decoration-line: underline;
    gap: 381px;
    justify-content: center;

}


.second-featured{
    
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1440px;
    height: 320px;/
}

.second-featured-icon{

    padding-top: 80px;
    display: flex;
    margin-top: 214px;
    justify-content: space-around;
}

.second-featured-text{
    display: flex;
    margin-top: 24px;
    color: rgba(39, 39, 39, 0.80);
    justify-content: space-around;
    font-family: Lato;
    font-size: 24px;
}


/* third-featured */

.third-featured{
    margin-top: 128px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}




.third-title{
    margin-top: 32px;
    text-align: center;
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}


.third-description{
    margin-top: 32px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.third-btn{
    margin-top: 32px;
    margin-left: 208px;
    text-align: center;
    padding: 20px 43px;
    align-items:center;
    /* gap: 10px; */
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

.third-featured-image{
    gap: 1175px 100px 429px 100px;
    width: 318px;
    height: 420px;

}


/* fourth-featured */

.fourth-featured-image{
    display: flex;
    padding: 48px 240px;
    justify-content: space-around;
    margin-top: 48px;
    /* gap: 240px 24px 24px 24px 240px; */
}




/* fifth-featured */

.fifth-featured{
height: 50vh;
background-image:url("../flower-shop-ass")

}

.fifth-featured-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.fifth-featured-info{
    margin: 16px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.fifth-featured-form{
    display: flex;
    margin-top: 32px;
    justify-content:space-around;
    align-items: center;
    justify-content: center;

}

.fifth-featured-email{
    padding: 22px 23px;
    margin-left: 527px;
    border: 0;
    width: 700px;
    /* height: 64px; */
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}

.fifth-featured-btn{
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}


/* footer */

.footer{
    text-align: center;
    width: 1922px;
    height: 449px;
    background: #111010;

}

.footer-text{
    padding-top: 90px;

}


.footer-head{
    margin-top: 32px;
    margin-bottom: 32px;
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}

.footer-info{
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


.footer-end{
    margin-top: 32px;
    margin-bottom: 32px;
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}